@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@600;700;900&display=swap');

// VARIABLES

// Fonts
$primaryFont: 'Fraunces', serif;
$secondaryFont: 'Barlow', sans-serif;

// Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);

// (graphic design text)
$darkDesaturatedCyan: hsl(167, 40%, 24%);

// (photography text)
$darkBlue: hsl(198, 62%, 26%);

// (footer)
$darkModerateCyan: hsl(168, 34%, 41%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Layouts
$mobileLayout: 375px;
$desktopLayout: 1440px;

body {
  font-size: 18px;
  font-family: $secondaryFont;
  line-height: 1.7;
}

/*
===========
Global Styles
===========
*/

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: $primaryFont;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

img:not(.nav-logo):not(.arrow-img):not(.footer-logo) {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn {
  cursor: pointer;
  color: var(--clr-white);
  display: inline-block;
  background: transparent;
  border: transparent;
}

.btn:hover {
  background: var(--clr-primary-200);
  box-shadow: var(--shadow-3);
  color: var(--clr-primary-600);
}

$font-weights: (
  'regular': 400,
  'medium': 600,
  'bold': 700,
  'extra-bold': 900,
);

@function weights($size) {
  @return map-get($font-weights, $size);
}

@mixin transition($duration, $speed) {
  transition: all $duration $speed;
}

@mixin tablet {
  @media screen and (min-width: 687px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 992px) {
    @content;
  }
}
/* End of Global Styles*/
