@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600&family=Fraunces:wght@600;700;900&display=swap');

// VARIABLES

// Fonts
$primaryFont: 'Fraunces', serif;
$secondaryFont: 'Barlow', sans-serif;

// Colors
$softRed: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
// (graphic design text)
$darkDesaturatedCyan: hsl(167, 40%, 24%);
// (photography text)
$darkBlue: hsl(198, 62%, 26%);
// (footer)
$darkModeratCyan: hsl(168, 34%, 41%);
$veryDarkDesaturatedBlue: hsl(212, 27%, 19%);
$veryDarkGrayishBlue: hsl(213, 9%, 39%);
$darkGrayishBlue: hsl(232, 10%, 55%);
$grayishBlue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Layouts
$mobileLayout: 375px;
$desktopLayout: 1440px;

body {
  font-size: 18px;
  font-family: $secondaryFont;
}
