@import './resets';
@import './config';

// Hide Nav links
.nav-links {
  display: none;
  grid-template-columns: repeat(4, 120px);
  justify-self: end;
  text-align: center;
  font-size: 1rem;

  li a {
    color: $white;
  }

  li:last-child a {
    color: black;
    font-weight: weights(bold);
  }
  li:last-child:hover a {
    color: $white;
    font-weight: weights(bold);
  }
}

// ***** SIDEBAR *****

.sidebar-links {
  position: fixed;
  top: 4rem;
  right: 1.8rem;
  width: 100%;
  height: auto;
  @include transition(0.3s, linear);

  // Hide Sidebar
  transform: translateX(-100%);
  padding: 2rem 1rem;
  padding-top: 3rem;

  .contact-btn-sidebar {
    background: $yellow;
    padding: 1rem 1.7rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    border-color: transparent;
    border-radius: 30px;
    font-weight: weights(bold);
    font-family: $primaryFont;
    cursor: pointer;
  }
}

.show-sidebar .sidebar-links {
  // Show sidebar
  transform: translate(0);
  background: white;
  width: 88%;
  margin: 0 auto;
  text-align: center;

  li:last-child {
    margin-top: 2rem;
  }
  li:last-child a {
    color: black;
    font-weight: weights(bold);
  }

  @include transition(0.3s, linear);
  clip-path: polygon(
    0 10%,
    25% 10%,
    92% 10%,
    100% 0,
    100% 16%,
    100% 15%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    0 100%,
    0% 85%
  );

  li {
    margin-bottom: 1.5rem;
  }

  li a {
    color: $darkGrayishBlue;
    font-size: 1.3rem;
  }
}

// ***** HEADER *****

header {
  background: url('/images/mobile/image-header.jpg') center/cover no-repeat;
  min-height: 75vh;

  .nav-center {
    display: grid;
    align-items: centr;
  }

  .nav-header {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    height: 5rem;
    padding: 0.5rem 1.8rem;

    .nav-toggle {
      background: transparent;
      border: transparent;
      cursor: pointer;
      color: #fff;
      font-size: 1.5rem;
      justify-self: end;
    }
  }

  // HERO
  .hero {
    display: grid;
    place-items: center;

    h1 {
      text-transform: uppercase;
      text-align: center;
      color: $white;
      font-size: 2.8rem;
      max-width: 20rem;
      letter-spacing: 6px;
      margin-top: 5rem;
      margin-bottom: 3rem;
      font-weight: weights(extra-bold);
    }

    .hero-img-container {
      height: 120px;
      width: 3rem;

      img {
        display: block;
        margin: 0 auto;
        height: 100%;
      }
    }
  }
}

// TABLET LAYOUT
@include tablet {
  .nav-toggle {
    display: none;
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 0.5rem 1.5rem;
  }
  .nav-links {
    display: grid;
    padding: 0 1rem;
    align-items: center;
    font-size: 1.2rem;
  }
  .contact-btn {
    border-color: transparent;
    background: $white;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-family: $primaryFont;
    @include transition(0.2s, ease-in-out);
    color: black;
    font-weight: weights(bold);
  }
  .contact-btn:hover {
    background: hsl(200, 100, 72);
    color: white;
  }
}

@import './sections';
@import './testimonials';
@import './photo-grid';
@import './footer';

@import './responsive';
